[submodule "external/CommonLibSSE-NG"]
	path = external/CommonLibSSE-NG
	url = https://github.com/alandtse/CommonLibVR.git
	branch = ng
[submodule "external/rpmalloc"]
	path = external/rpmalloc
	url = https://github.com/mjansson/rpmalloc.git
	branch = main
